.faq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  &__item {
    background: #f4f1f2;
    box-shadow: -4px 4px 8px rgba(220, 217, 218, 0.2),
      4px -4px 8px rgba(220, 217, 218, 0.2),
      -4px -4px 8px rgba(255, 255, 255, 0.9),
      4px 4px 10px rgba(220, 217, 218, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3),
      inset -1px -1px 2px rgba(220, 217, 218, 0.5);
    border-radius: 20px;
    padding: 10px;
    width: 31%;
  }

  &__num {
    font-family: inherit;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 5px;

    background: rgba(102, 101, 146, 0.7);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 4px 4px;
  }

  &__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #666592;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
