.profile {
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -3px 3px 6px rgba(215, 212, 213, 0.2),
    3px -3px 6px rgba(215, 212, 213, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(215, 212, 213, 0.5);
  border-radius: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;

  &:hover {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
      -1px -1px 2px rgba(215, 212, 213, 0.5),
      inset -3px 3px 6px rgba(215, 212, 213, 0.2),
      inset 3px -3px 6px rgba(215, 212, 213, 0.2),
      inset -3px -3px 6px rgba(255, 255, 255, 0.9),
      inset 3px 3px 8px rgba(215, 212, 213, 0.9);
  }
}
