.races--else {
  color: #666592;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  padding: 0 25px;
}
.races--info {
  color: #666592;
  font-weight: 400;
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  padding: 0 50px;
}
