.container {
  & .regres--img {
    margin: 48px auto 58px;
  }

  & .text {
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #666592;

    & .text__title {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    & .text__green {
      margin-top: 30px;
      color: #24ca49;
      margin-bottom: 50px;
    }

    & button {
      font-family: inherit;
      background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
      box-shadow: -5px 5px 10px rgba(215, 212, 213, 0.2), 5px -5px 10px rgba(215, 212, 213, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 212, 213, 0.9),
        inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);
      border-radius: 20px;
      background: linear-gradient(133.34deg, rgba(78, 244, 115, 0.7) 2.4%, rgba(0, 166, 37, 0.7) 91.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      width: 50%;
      text-align: center;
      color: #fff;
      padding: 15px 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
    }
  }
}
