.choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
    box-shadow: -6px 6px 12px rgba(207, 205, 206, 0.2), 6px -6px 12px rgba(207, 205, 206, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.9), 6px 6px 15px rgba(207, 205, 206, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(207, 205, 206, 0.5);
    border-radius: 20px;
    padding: 20px 15px;
    text-align: center;
    width: 48%;
    color: #666592;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 176px;
    transition: all 0.2s linear;

    &:hover {
      background: #f4f1f2;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(207, 205, 206, 0.5), inset -6px 6px 12px rgba(207, 205, 206, 0.2), inset 6px -6px 12px rgba(207, 205, 206, 0.2),
        inset -6px -6px 12px rgba(255, 255, 255, 0.9), inset 6px 6px 15px rgba(207, 205, 206, 0.9);
    }
  }

  & img {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  & .choose__img {
    width: 100px;
    height: 75px;
  }
}
