.races__item {
  background: #f4f1f2;
  box-shadow: -4px 4px 8px rgba(220, 217, 218, 0.2), 4px -4px 8px rgba(220, 217, 218, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.9), 4px 4px 10px rgba(220, 217, 218, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 217, 218, 0.5);
  border-radius: 20px;
  padding: 18px 20px;
  margin-bottom: 10px;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 10px;

  font-family: inherit;
}
.races__group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 10px;
  color: #aaa9c9;
}
.races__date {
  font-weight: 700;
  font-size: 12px;
  color: #666592;
}
.races__price {
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;

  background: rgba(102, 101, 146, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 4px 4px;

  &_symbol {
    font-family: 'Work Sans', sans-serif;
  }
}
.races__moto {
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa9c9;
}
