.trip {
  background: #f4f1f2;
  box-shadow: -3px 3px 6px rgba(215, 212, 213, 0.2), 3px -3px 6px rgba(215, 212, 213, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);
  border-radius: 20px;
  font-family: inherit;
  padding: 24px 18px;
  color: #666592;
  position: relative;

  &--else {
    color: #666592;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    padding: 0 15px;

    & span {
      color: #24ca49;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(36, 202, 73, 0.7);
  }

  &__img {
    background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
    box-shadow: -2px 2px 4px rgba(220, 217, 218, 0.2), 2px -2px 4px rgba(220, 217, 218, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(220, 217, 218, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 217, 218, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    padding: 7px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__img2 {
    margin-right: 7px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .trip__group_mb {
      margin-bottom: 7px;
    }

    .trip--circle {
      position: relative;
      z-index: 8;

      &::after {
        content: '';
        position: absolute;
        top: 36px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background: #dbdbe2;
        z-index: 10;
        border-radius: 50%;
      }

      &::before {
        content: '';
        position: absolute;
        top: 51px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background: #dbdbe2;
        z-index: 10;
        border-radius: 50%;
      }
    }

    .trip--circle2 {
      position: relative;
      z-index: 8;

      &::after {
        content: '';
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background: #dbdbe2;
        z-index: 10;
        border-radius: 50%;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 51px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background: #dbdbe2;
        z-index: 10;
        border-radius: 50%;
      }
    }
  }

  .trip__group {
    display: flex;
    align-items: center;
  }
  .trip__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ececec;
    padding-right: 15px;
    margin-right: 15px;
    width: 100%;

    &_title {
      font-weight: 700;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-bottom: 3px;
    }

    &_date {
      font-weight: 500;
      font-size: 10px;
      color: #aaa9c9;
    }

    & .trip__img {
      margin-right: 10px;
    }
  }
  .trip__paytime {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;

    &_block {
      border-bottom: 1px solid #ececec;
      padding-bottom: 7px;
      margin-bottom: 7px;
    }
  }

  .trip__paytime_title {
    font-weight: 500;
    font-size: 10px;
    color: #aaa9c9;
  }
  .trip__num {
    font-size: 22px;
    font-weight: 700;
    margin-top: 7px;
  }
  .trip__symbol {
    font-size: 12px;
    font-weight: 500;
    color: #aaa9c9;
  }
  .trip--rouble {
    font-family: 'Work Sans';
  }

  .moto__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;

    .moto__img {
      width: auto;
    }
    .moto--flex {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 5px;
    }
    .moto__group {
      width: fit-content;
      white-space: nowrap;
      margin-left: 15px;
      padding-left: 15px;
      border-left: 1px solid #ececec;

      &--name {
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #ececec;

        .moto__title {
          font-family: 'Work Sans';
          font-weight: 700;
          font-size: 16px;
          color: #666592;
          margin-bottom: 5px;
        }

        .moto__subtitle {
          font-weight: 500;
          font-size: 10px;
          color: #aaa9c9;
        }
      }
    }
  }

  // BUTTONS

  .trip__group--btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.link {
  font-family: inherit;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -5px 5px 10px rgba(215, 212, 213, 0.2), 5px -5px 10px rgba(215, 212, 213, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);
  border-radius: 20px;

  width: 47%;
  text-align: center;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s linear;

  &.green {
    background: linear-gradient(133.34deg, rgba(78, 244, 115, 0.7) 2.4%, rgba(0, 166, 37, 0.7) 91.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    &:hover {
      background: linear-gradient(133.34deg, rgba(78, 244, 115, 0.7) 2.4%, rgba(0, 166, 37, 0.7) 91.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      opacity: 0.7;
    }
  }

  &:hover {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 212, 213, 0.5), inset -5px 5px 10px rgba(215, 212, 213, 0.2), inset 5px -5px 10px rgba(215, 212, 213, 0.2),
      inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(215, 212, 213, 0.9);
  }
}

.link--red {
  font-family: inherit;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -5px 5px 10px rgba(215, 212, 213, 0.2), 5px -5px 10px rgba(215, 212, 213, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);
  border-radius: 20px;

  width: 100%;
  text-align: center;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.2s linear;
  color: #f98a8a;

  &:hover {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 212, 213, 0.5), inset -5px 5px 10px rgba(215, 212, 213, 0.2), inset 5px -5px 10px rgba(215, 212, 213, 0.2),
      inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(215, 212, 213, 0.9);
  }
}

.btn {
  font-family: inherit;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -5px 5px 10px rgba(215, 212, 213, 0.2), 5px -5px 10px rgba(215, 212, 213, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);
  border-radius: 20px;
  width: 47%;
  text-align: center;
  padding: 17px 26px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;

  color: #666592;
  transition: all 0.2s linear;

  &:hover {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 212, 213, 0.5), inset -5px 5px 10px rgba(215, 212, 213, 0.2), inset 5px -5px 10px rgba(215, 212, 213, 0.2),
      inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(215, 212, 213, 0.9);

    opacity: 0.7;
  }
}

.new {
  width: 90%;
  display: block;
  margin: 40px auto 0;
}
.more__address {
  padding-bottom: 19px;
  border-right: 0 !important;
  border-bottom: 2px solid #ececec;
  margin-bottom: 19px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

  & .trip__address_location--image {
    position: absolute;
    top: 0;
    right: 15px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;

    & img {
      margin: 0 auto 5px;
    }
  }
}
.more--circle {
  position: relative;
  z-index: 8;

  &::after {
    content: '';
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #dbdbe2;
    z-index: 10;
    border-radius: 50%;
  }
}

.more--circle2 {
  position: relative;
  z-index: 8;

  &::after {
    content: '';
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background: #dbdbe2;
    z-index: 10;
    border-radius: 50%;
  }
}
.more__group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & .trip__img {
    margin-right: 10px;
  }
}
.more__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;

  padding-bottom: 20px;
  border-bottom: 2px solid #ececec;
  margin-bottom: 20px;
  width: 100%;
}
.more__grid_specs {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1.1fr 1fr;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.more__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #666592;
  line-height: 14px;
  margin-bottom: 2px;
}
.more__subtitle {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: #aaa9c9;
}
.more__flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.more__flex_item {
  margin-right: 10px;
}
.more__flex_item:nth-child(2n) {
  margin-right: 0;
}
.more__moto_name {
  font-family: 'Work Sans';
  color: #666592;
  font-size: 16;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
}
.more__moto_class {
  color: #aaa9c9;
  font-size: 10px;
  font-weight: 500;
}
.more__specs_title {
  color: #666592;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}
.more__specs__num {
  color: #666592;
  font-weight: 700;
  font-size: 12px;
}
.trip__back {
  position: absolute;
  top: 15px;
  right: 15px;
}

.location__group {
  display: flex;
  align-items: center;
}
.location__img {
  margin-right: 10px;
}
.location__name {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  color: #666592;
  margin-bottom: 5px;
}
.location__date {
  font-family: inherit;
  font-weight: 500;
  font-size: 10px;

  color: #aaa9c9;
}
.trip__paytime .rate__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  color: #666592;
}
.timeError {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
  color: #f98a8a;
}
.search {
  width: 100%;
}
.search--error {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;

  color: #666592;
  text-align: center;
  margin-bottom: 20px;
}

.payments__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  color: #666592;
  margin-bottom: 20px;
}
.payments__card {
  position: relative;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -5px 5px 10px rgba(220, 217, 218, 0.2), 5px -5px 10px rgba(220, 217, 218, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(220, 217, 218, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(220, 217, 218, 0.5);
  border-radius: 20px;
  padding: 45px 25px 20px 18px;
  background: url('../../img/moto-profile.svg') center no-repeat;
  background-size: cover;
  margin-bottom: 30px;

  & .tap {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.payments__input {
  background: #f4f1f2;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 212, 213, 0.5), inset -3px 3px 6px rgba(215, 212, 213, 0.2), inset 3px -3px 6px rgba(215, 212, 213, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9), inset 3px 3px 8px rgba(215, 212, 213, 0.9);
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  color: #aaa9c9;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.payments__input::placeholder {
  color: #aaa9c9;
}
.payments__group {
  display: flex;
  align-items: center;
}
.payments__group.jcsb {
  justify-content: space-between;
}
.img--group {
  margin-bottom: 25px;
}
.payments__img:first-child {
  margin-right: 15px;
}
.payments__inputs {
  width: 55%;
}
.payments__inputs_group {
  margin-top: 10px;
  display: flex;
  align-items: center;

  & input:first-child {
    margin-right: 10px;
  }
}
.btn__tap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.btn__tap.active {
  opacity: 1;
  visibility: visible;
}
.error {
  text-align: center;
  margin: -10px 0 20px;
  font-family: inherit;
  font-size: 14px;
  color: #f98a8a;
}
.payments__info {
  margin-top: 55px;
}
.payments__number {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;

  background: rgba(102, 101, 146, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 2px 2px;
}
.payments__card_text {
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;

  background: rgba(102, 101, 146, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 4px 4px;
}
.payments--date {
  margin-right: 25px;
}
.payments__alias {
  width: 60px;
  height: 45px;
}
.payments__view {
  position: absolute;
  top: 24px;
  right: 24px;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -3px 3px 6px rgba(207, 205, 206, 0.2), 3px -3px 6px rgba(207, 205, 206, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(207, 205, 206, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(207, 205, 206, 0.5);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;

  &.active {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(207, 205, 206, 0.5), inset -3px 3px 6px rgba(207, 205, 206, 0.2), inset 3px -3px 6px rgba(207, 205, 206, 0.2),
      inset -3px -3px 6px rgba(255, 255, 255, 0.9), inset 3px 3px 8px rgba(207, 205, 206, 0.9);
  }
}
