.body__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #666592;
  margin-left: 15px;
  margin-right: auto;
}
.new--trip .btn__tap .tap img {
  margin-bottom: 0;
}
.error {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
