.body__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #666592;
  margin-left: 15px;
  margin-right: auto;
}
.new--trip .btn__tap .tap img {
  margin-bottom: 0;
}
.error {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.signatureCanvas {
  width: 100%;
  height: 150px;
  border: 1px solid #666592;
  border-radius: 20px;
}

button.canvas__btn {
  margin-top: 5px;
  font-family: inherit;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);

  box-shadow: -5px 5px 10px rgba(215, 212, 213, 0.2), 5px -5px 10px rgba(215, 212, 213, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 13px rgba(215, 212, 213, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(215, 212, 213, 0.5);

  border-radius: 20px;
  width: 100%;
  text-align: center;
  background: linear-gradient(133.34deg, rgba(78, 244, 115, 0.7) 2.4%, rgba(0, 166, 37, 0.7) 91.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  padding: 17px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  transition: all 0.2s linear;

  &:hover {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(215, 212, 213, 0.5), inset -5px 5px 10px rgba(215, 212, 213, 0.2), inset 5px -5px 10px rgba(215, 212, 213, 0.2),
      inset -5px -5px 10px rgba(255, 255, 255, 0.9), inset 5px 5px 13px rgba(215, 212, 213, 0.9);

    background: linear-gradient(133.34deg, rgba(78, 244, 115, 0.7) 2.4%, rgba(0, 166, 37, 0.7) 91.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    opacity: 0.7;
  }

  &.save {
    margin-bottom: 0;
  }
}
.passport--input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  & input {
    width: 48%;
  }
}
.passport__title {
  color: #666592;
  font-size: 16px;
  font-family: inherit;
  line-height: 18px;
  margin-bottom: 20px;

  & span {
    font-weight: 700;
  }

  & a {
    color: #24ca49;
    text-decoration: underline;
  }
}

.qrcode {
  & iframe {
    border: 1px solid #666592;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__title {
    color: #666592;
    font-size: 16px;
    font-family: inherit;
    line-height: 18px;

    & span {
      font-weight: 700;
    }

    & a {
      color: #24ca49;
      text-decoration: underline;
    }
  }
  &__code {
    display: block;
    margin: 50px auto;
    width: 60%;
    height: 60%;
  }
}
