.payments__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  color: #666592;
  margin-bottom: 20px;
}
.payments__card {
  position: relative;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -5px 5px 10px rgba(220, 217, 218, 0.2),
    5px -5px 10px rgba(220, 217, 218, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(220, 217, 218, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(220, 217, 218, 0.5);
  border-radius: 20px;
  padding: 45px 25px 20px 18px;
  background: url('../../img/moto-profile.svg') center no-repeat;
  background-size: cover;
  margin-bottom: 30px;

  & .tap {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
.payments__input {
  background: #f4f1f2;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(215, 212, 213, 0.5),
    inset -3px 3px 6px rgba(215, 212, 213, 0.2),
    inset 3px -3px 6px rgba(215, 212, 213, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.9),
    inset 3px 3px 8px rgba(215, 212, 213, 0.9);
  border-radius: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  color: #aaa9c9;
  width: 100%;
  padding: 12px;
  text-align: center;
}
.payments__input::placeholder {
  color: #aaa9c9;
}
.payments__group {
  display: flex;
  align-items: center;
}
.payments__group.jcsb {
  justify-content: space-between;
}
.img--group {
  margin-bottom: 25px;
}
.payments__img:first-child {
  margin-right: 15px;
}
.payments__inputs {
  width: 55%;
}
.payments__inputs_group {
  margin-top: 10px;
  display: flex;
  align-items: center;

  & input:first-child {
    margin-right: 10px;
  }
}
.btn__tap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}
.btn__tap.active {
  opacity: 1;
  visibility: visible;
}
.error {
  text-align: center;
  margin: -10px 0 20px;
  font-family: inherit;
  font-size: 14px;
  color: #f98a8a;
}
.payments__info {
  margin-top: 55px;
}
.payments__number {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;

  background: rgba(102, 101, 146, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 2px 2px;
}
.payments__card_text {
  font-family: inherit;
  font-size: 18px;
  font-weight: 900;

  background: rgba(102, 101, 146, 0.7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 4px 4px;
}
.payments--date {
  margin-right: 25px;
}
.payments__alias {
  width: 60px;
  height: 45px;
}
.payments__view {
  position: absolute;
  top: 24px;
  right: 24px;
  background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
  box-shadow: -3px 3px 6px rgba(207, 205, 206, 0.2),
    3px -3px 6px rgba(207, 205, 206, 0.2),
    -3px -3px 6px rgba(255, 255, 255, 0.9), 3px 3px 8px rgba(207, 205, 206, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(207, 205, 206, 0.5);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;

  &.active {
    background: #f4f1f2;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
      -1px -1px 2px rgba(207, 205, 206, 0.5),
      inset -3px 3px 6px rgba(207, 205, 206, 0.2),
      inset 3px -3px 6px rgba(207, 205, 206, 0.2),
      inset -3px -3px 6px rgba(255, 255, 255, 0.9),
      inset 3px 3px 8px rgba(207, 205, 206, 0.9);
  }
}
