.search {
  position: relative;
  width: 100%;
  margin: 0 10px;

  & input {
    width: 100%;
    background: linear-gradient(135deg, #fffdfe 0%, #e8e5e6 100%);
    box-shadow: -3px 3px 6px rgba(215, 212, 213, 0.2),
      3px -3px 6px rgba(215, 212, 213, 0.2),
      -3px -3px 6px rgba(255, 255, 255, 0.9),
      3px 3px 8px rgba(215, 212, 213, 0.9),
      inset 1px 1px 2px rgba(255, 255, 255, 0.3),
      inset -1px -1px 2px rgba(215, 212, 213, 0.5);
    border-radius: 20px;
    font-family: inherit;
    color: #aaa9c9;
    font-size: 12px;
    padding: 15.5px 20px;
    padding-left: 42px;
    transition: all 0.2s linear;

    &:hover {
      background: #f4f1f2;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
        -1px -1px 2px rgba(215, 212, 213, 0.5),
        inset -3px 3px 6px rgba(215, 212, 213, 0.2),
        inset 3px -3px 6px rgba(215, 212, 213, 0.2),
        inset -3px -3px 6px rgba(255, 255, 255, 0.9),
        inset 3px 3px 8px rgba(215, 212, 213, 0.9);
    }

    &::placeholder {
      font-family: inherit;
      color: #aaa9c9;
      font-size: 12px;
    }
  }
  &::before {
    content: '';
    display: block;
    background: url(../../img/icons/search.svg) center no-repeat;
    width: 12px;
    height: 12px;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: calc(100% / 2 - 6px);
  }
}
